@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  user-select: none;
  background-color: #5CDB95;
  color: #000000;
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

#quote-box {
  background-color: #05386B;
  width: 650px;
  padding: 40px 50px;
  border-radius: 5px;
  border: 1px solid #EDF5E1;
  margin: 0 auto;
  box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 675px) {
  #quote-box {
    width: calc(95vw - 20px);
    margin: 0 auto;
    padding: 20px 25px;
  }
}

p {
  color: #EDF5E1;
  font-family: "Poppins";
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 30px;
}

#text {
  font-size: 18px;
}

#author {
  text-align: right;
  margin-bottom: 40px;
}

.buttons {
  background-color: #379683;
  color: #05386B;
  font-size: 14px;
  font-weight: bold;
  font-family: "Poppins";
  padding: 5px 10px;
  border-width: 0;
  border-radius: 3px;
}

#tweet-quote {
  float: right;
  text-decoration: none;
  padding: 7px 10px;
}

.buttons:hover {
  background-color: #5CDB95
}
